<h1>Teachers</h1>

<ul>
  <% Teacher.all.each do |teacher| %>
    <li><a href="/teachers/<%= teacher.slug %>"><%= teacher.name %></a></li>
  <% end %>

  <% if Teacher.all.empty? %>
    <li>No teachers available</li>
  <% end %>
</ul>
