<h1>Teacher Signup</h1>
<form action="/teachers" method="post">
  <label for="name">Full Name:</label>
  <input type="text" name="name" value="" required>

  <br><br>

  <label for="username">Username:</label>
  <input type="text" name="username" value="" required>

  <br><br>

  <label for="password">Password:</label>
  <input type="password" name="password" value="" required>

  <br><br>

  <label for="alma_mater">Alma mater:</label>
  <input type="text" name="alma_mater" value="">

  <br><br>

  <label for="years_experience">Years of experience:</label>
  <input type="integer" name="years_experience" value="" required>

  <br><br>

  <input type="submit" value="Signup">
</form>
