<h1>Create a Course</h1>

<form action="/courses" method="post">
  <label for="subject">Subject:</label>
  <input type="text" name="subject" value="" required>

  <br><br>

  <label for="day">Day of the Week:</label><br>
  <input type="radio" name="day" value="Monday" required>Monday<br>
  <input type="radio" name="day" value="Tuesday" required>Tuesday<br>
  <input type="radio" name="day" value="Wednesday" required>Wednesday<br>
  <input type="radio" name="day" value="Thursday" required>Thursday<br>
  <input type="radio" name="day" value="Friday" required>Friday<br>

  <br><br>

  <input type="submit" value="Create Course">
</form>
