<h2>Welcome to</h2>
<h1>Course Enrollment</h1>

<h3><a href="/login">Login</a></h3>

<h4>or</h4>

<h3>Create an Account:</h3>
<h3><a href="/students/new">Student Signup</a></h3>
<h3><a href="/teachers/new">Teacher Signup</a></h3>
