<h2 style="text-align: center">Welcome to</h2>
<h1 style="text-align: center">Course Enrollment</h1>

<h3 style="text-align: center">Login</h3>

<h4 style="text-align: center">or</h4>

<h3 style="text-align: center">Create an Account:</h3>
<h3 style="text-align: center">Student Signup</h3>
<h3 style="text-align: center">Teacher Signup</h3>
